:root {
    --coming-fam: "Coming Soon", cursive;
    --patrick-fam: "Patrick Hand SC", cursive;
}

body {
    margin: 0;
}

#grid-container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
}

.grid-cell {
    border: 1px solid black;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
}

.toggled {
    color: red;
}

.untoggled {
    color: black;
}

#header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#style-section,
#mode-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.section-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}